<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <%= render 'enrollment/contact_person_errors' %>

  <h1>Second Emergency Contact</h1>

  <div class="instructions">Tell us about another adult who can find you in case of an emergency with <%= @student.first_name %>.</div>

  <%= form_for(@contact_person, url: wizard_path, method: :put) do |c| %>
  <div id="contact_table" class="enableZindex">
    <div class="container">
      
      <div class="row">
        <div class="col-md-3 col-sm-4">First Name<sup>*</sup></div>
        <div class="col-md-3 col-sm-8"><%= c.text_field :first_name, class: 'enrollment-grid-input', placeholder: 'Paul', required: true %></div>
        <div class="col-md-3 col-sm-4">Last Name<sup>*</sup></div>
        <div class="col-md-3 col-sm-8"><%= c.text_field :last_name, class: 'enrollment-grid-input', placeholder: 'McCartney', required: true %></div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-5">Relationship to <%= @student.first_name %><sup>*</sup></div>
        <div class="col-md-7 col-sm-7"><%= c.text_field :relationship, class: 'enrollment-form-popover input-pointer capitalize', 'data-toggle' => 'modal', 'data-target' => '#contact1RelationshipModal', id: 'contact1RelationshipSelected', readonly: true, placeholder: 'Choose Relationship'  %>
        </div>
      </div>

        <div class="row">
          <div class="col-md-3 col-sm-12">Main phone<sup>*</sup></div>
          <div class="col-md-5 col-sm-6"><%= c.telephone_field :main_phone, class: 'enrollment-grid-input', placeholder: '401-111-2222', required: true %></div>
          <div class="col-md-4 col-sm-4">
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= c.radio_button :main_phone_can_sms, true %>Accepts Texts</label>
              <label class="btn btn-primary">
                <%= c.radio_button :main_phone_can_sms, false %>No Texts</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="secondary-phone-cell col-md-4 col-sm-12">Secondary phone:</div>
          <div class="col-md-4 col-sm-6"><%= c.telephone_field :secondary_phone, class: 'enrollment-grid-input', placeholder: '401-111-2222' %></div>
          <div class="col-md-4 col-sm-4">
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= c.radio_button :secondary_phone_can_sms, true %>Accepts Texts</label>
              <label class="btn btn-primary">
                <%= c.radio_button :secondary_phone_can_sms, false %>No Texts</label>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">Email address:</div>
        <div class="col-md-8 col-sm-7"><%= c.email_field :email, class: 'enrollment-grid-input', id: 'contact1_email', placeholder: 'john@email.com', pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %></div>
      </div>

    </div>
    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path %></li>
      <li><%= c.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>
  </div>

    <div class="modal fade" id="contact1RelationshipModal" tabindex="-1" role="dialog" aria-labelledby="contact1RelationshipModal" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title" id="firstLanguageLabel">How are you related to <%= @student.first_name %>?</h4>
          </div>
          <div class="modal-body single-col-modal">
            <div class="btn-group single-col-btn-group" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= radio_button_tag 'choose_relationship', 'relative', class: 'second' %>Relative
              </label><br/>
              <label class="btn btn-primary">
                <%= radio_button_tag 'choose_relationship', 'sibling', class: 'second' %>Sibling
              </label><br/>
              <label class="btn btn-primary">
                <%= radio_button_tag 'choose_relationship', 'family friend', class: 'second' %>Family Friend
              </label>
            </div>
            <div class="other-field">
              <%= text_field_tag 'choose_relationship', nil, class: 'enrollment-form-input second', id: 'choose_relationship_input_text', placeholder: 'Other' %>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="button" id="btnContact1Relationship" class="nav-button pull-right" data-dismiss="modal">Save
              changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>

  <%= render 'shared/scenery_contact' %>