<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <div class="instructions">Tell us about the people who can find you in case of an emergency.</div>
  <!-- TODO: Add tooltip saying this is other than the parent/guardians -->

  <%= form_for(ContactPerson.new, url: wizard_path, method: :put) do |c| %>
  <table>
    <tr>
      <td class="row-break"><span>First Name:</span> <span><%= c.text_field :first_name, class: 'enrollment-form-input', id: 'contact2_firstname', placeholder: 'Nancy', required: true %></span></td>
      <td><span>Last Name:</span> <%= c.text_field :last_name, class: 'enrollment-form-input', id: 'contact2_lastname', placeholder: 'McCartney', required: true %></span></td>
    </tr>
    <tr>
      <td class="padding-right" colspan="2">Contact's relationship to you: <a href="#" class="enrollment-form-popover" data-toggle="modal" data-target="#contact2RelationshipModal" id="guardian1RelationshipSelected">Choose</a>
      </td>
    </tr>

    <tr><td class="row-break"><span>Main phone:</span> <span><%= c.telephone_field :phone, class: 'enrollment-form-input', id: 'contact2_phone', placeholder: '333-333-3333', required: true %></span></td>
      <td>
      <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-primary">
                  <%= c.radio_button :phone, 'Cell' %>SMS-enabled</label>
              <label class="btn btn-primary">
                  <%= c.radio_button :phone, 'Landline' %>Landline</label>
          </div>
        </td>
      </tr>
      <tr><td><span>Secondary phone:</span> <span><%= c.telephone_field :phone, class: 'enrollment-form-input', id: 'contact2_alt_phone', placeholder: '222-222-2222'%></span></td>
        <td>
          <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-primary">
                  <%= c.radio_button :phone, 'Cell' %>SMS-enabled</label>
              <label class="btn btn-primary">
                  <%= c.radio_button :phone, 'Landline' %>Landline</label>
          </div>
        </td>
      </tr>
      <tr><td colspan="2"><span>Email address:</span> <span><%= c.email_field :email, class: 'enrollment-form-input', id: 'contact2_email', placeholder: 'nancy@email.com', pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %></span></td>
      </tr>

  </table>
</div>

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path %></li>
      <li><%= c.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>

<%= render 'shared/scenery_contact' %>