<%= render 'enrollment/navigation' %>
<%= render 'enrollment/contact_person_errors' %>

<div class="enrollment-form">
  <div class="instructions">Tell us about the people who can find you in case of an emergency.</div>

  <%= form_for(@contact_person, url: wizard_path, method: :put) do |c| %>
      <table>
        <tr>
          <td class="row-break"><span>First Name:</span>
            <span><%= c.text_field :first_name, class: 'enrollment-form-input', placeholder: 'John', required: true %></span>
          </td>
          <td>
            <span>Last Name:</span>
            <span><%= c.text_field :last_name, class: 'enrollment-form-input', placeholder: 'Lennon', required: true %></span>
          </td>
        </tr>
        <tr>
          <td class="padding-right" colspan="2">Contact's relationship to the student:
            <%= c.text_field :relationship, class: 'enrollment-form-popover input-pointer capitalize', 'data-toggle' => 'modal', 'data-target' => '#guardian1RelationshipModal', id: 'guardian1RelationshipSelected', readonly: true, placeholder: 'Choose Relationship'  %>
          </td>
        </tr>

            <tr>
              <td class="row-break"><span>Main phone:</span>
                <span><%= c.telephone_field :main_phone, class: 'enrollment-form-input', placeholder: '401-111-2222', required: true %></span>
              </td>
              <td>
                <div class="btn-group pull-right" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <%= c.radio_button :main_phone_can_sms, true %>Accepts Texts</label>
                  <label class="btn btn-primary">
                    <%= c.radio_button :main_phone_can_sms, false %>No Texts</label>
                </div>
              </td>
            </tr>

            <tr>
              <td><span>Secondary phone:</span>
                <span><%= c.telephone_field :secondary_phone, class: 'enrollment-form-input', placeholder: '401-111-2222' %></span>
              </td>
              <td>
                <div class="btn-group pull-right" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <%= c.radio_button :secondary_phone_can_sms, true %>Accepts Texts</label>
                  <label class="btn btn-primary">
                    <%= c.radio_button :secondary_phone_can_sms, false %>No Texts</label>
                </div>
              </td>
            </tr>
        <tr>
          <td colspan="2"><span>Email address:</span>
            <span><%= c.email_field :email, class: 'enrollment-form-input', id: 'contact1_email', placeholder: 'john@email.com', pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %></span>
          </td>
        </tr>

      </table>
      </div>

      <ul class="pager">
        <li><%= link_to "Previous", previous_wizard_path %></li>
        <li><%= c.submit 'Next', class: 'nav-button pull-right' %></li>
      </ul>

      <div class="modal fade" id="guardian1RelationshipModal" tabindex="-1" role="dialog" aria-labelledby="guardian1RelationshipModal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
              <h4 class="modal-title" id="firstLanguageLabel">How are you related to <%= @student.first_name %>?</h4>
            </div>
            <div class="modal-body single-col-modal">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                  <%= radio_button_tag 'choose_relationship', 'relative', class: 'second' %>Relative
                </label><br/>
                <label class="btn btn-primary">
                  <%= radio_button_tag 'choose_relationship', 'sibling', class: 'second' %>Sibling
                </label><br/>
                <label class="btn btn-primary">
                  <%= radio_button_tag 'choose_relationship', 'guardian', class: 'second' %>Family Friend
                </label><br/>
                <%= text_field_tag 'choose_relationship', nil, class: 'enrollment-form-input second', id: 'choose_relationship_input_text', placeholder: 'Other' %>
                <br/>
              </div>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
              <button type="button" id="btnGuardian1Relationship" class="nav-button pull-right" data-dismiss="modal">Save
                changes
              </button>
            </div>
          </div>
        </div>
      </div>

  <% end %>

  <%= render 'shared/scenery_contact' %>