<div class="completed-section">
  <div><p>Congratulations! You've completed the online portion of <%= @student.first_name %>'s school registration.</p>
  </div>

  <div><span class="instructions">Please bring the following documents with you to finalize your application:</div>
    <div class="container">

    <div class="row">
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">
            <!-- <input type="checkbox"> -->
          </span>
          <span class="form-control"><%= @student.first_name %>'s original birth certificate</span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">
            <!-- <input type="checkbox"> -->
          </span>
          <span class="form-control"><%= @student.first_name %>'s immunization form</span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">
            <!-- <input type="checkbox"> -->
          </span>
          <span class="form-control">Your state photo I.D.</span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->

      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon">
            <!-- <input type="checkbox"> -->
          </span>
          <span class="form-control">Proof of residence</span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
  </div>
  <div><span class="instructions">Schedule an appointment to bring in your documentation and complete enrollment.</div>
  <%= form_for(@student, url: wizard_path, method: :put) do |s| %>
      <ul class="pager">
        <li><%= link_to 'Schedule', 'https://booknow.appointment-plus.com/6s6hcr14/', class: 'nav-button pull-right' %></li>
      </ul>
  <% end %>
</div>

<%= render 'shared/scenery_enrollment_complete' %>