<% @student=Student.find(session[:student_id]) %>
<% @summary_guardian1=@student.contact_people[0]%>
<% @summary_guardian2=@student.contact_people[1]%>


<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <div class="summary_table enableZindex">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active instructions"><a href="#summaryGuardian1" role="tab" data-toggle="tab">Review <%= @summary_guardian1.first_name %></a></li>
    <% if @summary_guardian2 %>
        <li class="instructions"><a href="#summaryGuardian2" role="tab" data-toggle="tab">Review <%= @summary_guardian2.first_name %></a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="summaryGuardian1">
      <table class="summaryTable">
          <td class="summaryText section-break" colspan="2">
            Your name is <span class="summaryAnswers"><%= @summary_guardian1.first_name %> <%= @summary_guardian1.last_name %></span>, and you are <%= @student.first_name %>'s <span class="summaryAnswers"><%= @summary_guardian1.relationship %><span class="summaryAnswers">.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_name_and_address' %></div></td>
        </tr>
        <tr>

          <td class="summaryText" colspan="2">You live at <span class="summaryAnswers"><%= @summary_guardian1.street_address_1 %> <%= @summary_guardian1.street_address_2 %> in <%= @summary_guardian1.city %>, <%= @student.state %></span> <% if @summary_guardian1.lives_with_student == true %>with <%= @student.first_name %><% end %>.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_name_and_address' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">Your primary phone number is <span class="summaryAnswers"><%= @summary_guardian1.main_phone %></span><!-- which <span class="summaryAnswers">receives text messages</span>-->.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div></td>
        </tr>

        <tr>
          <td class="summaryText" colspan="2">
            A second phone number for you is <!--TODO get this from database --><span class="summaryAnswers"><%= @summary_guardian1.secondary_phone %></span> <!-- which <span class="summaryAnswers">does not receive text messages</span>-->.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div></td>
          </tr>
          <td class="summaryText" colspan="2">
            Your work phone is <span class="summaryAnswers"><%= @summary_guardian1.work_phone %></span>.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">Your email is <span class="summaryAnswers"><%= @summary_guardian1.email %></span>.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div>
          </td>
        </tr>
        <% if (@summary_guardian1.armed_service_status != nil) %>
            <tr>
              <td class="summaryText" colspan="2">Your armed service status is <span class="summaryAnswers"><%= @summary_guardian1.armed_service_status %></span>.</td>
              <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div>
              </td>
            </tr>
        <% end %>
        <% if @summary_guardian2 %>
        <tr>
          <td class="summaryText" colspan="2">Review <span class="summaryAnswers"><%= @summary_guardian2.first_name %></span> by clicking the tab above.</td>
            <td class="summaryEdit"></div>
          </td>
        </tr>
        <% end %>
      </div>
      </table>
 
    </div>

<% if @summary_guardian2 %>
    <div class="tab-pane" id="summaryGuardian2">
      <table class="summaryTable">
        <tr>
          <td class="summaryText section-break" colspan="2">
           Another guardian for <%= @student.first_name %> is <span class="summaryAnswers"><%= @summary_guardian2.first_name %> <%= @summary_guardian2.last_name %></span>, who is <%= @student.first_name %>'s <span class="summaryAnswers"><%= @summary_guardian2.relationship %></span>.</td>
           <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_name_and_relationship' %></div>
           </td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_guardian2.first_name %> lives at <span class="summaryAnswers"><%= @summary_guardian2.street_address_1 %> <%= @summary_guardian2.street_address_2 %> in <%= @summary_guardian2.city %>, <%= @summary_guardian2.state %> <%= @summary_guardian2.zip_code %></span>.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_guardian2.first_name %>'s primary phone number is <!--TODO get this from database --><span class="summaryAnswers"><%= @summary_guardian2.main_phone %></span><!-- which <span class="summaryAnswers">does not receive text messages</span>-->.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">
            A second phone number for <%= @summary_guardian2.first_name %> is <!--TODO get this from database --><span class="summaryAnswers"><%= @summary_guardian2.secondary_phone %></span><!-- which <span class="summaryAnswers">does not receive text messages</span>-->.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_guardian2.first_name %>'s email is <span class="summaryAnswers"><%= @summary_guardian2.email %></span>.</td>
          <td class="summaryEdit"> <div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <% if (@summary_guardian2.armed_service_status != nil) %>
            <tr>
              <td class="summaryText" colspan="2">Your armed service status is <span class="summaryAnswers"><%= @summary_guardian2.armed_service_status %></span>.</td>
              <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
    <% end %>
  </div>

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path, class: 'hidden'%></li>
      <li><%= link_to 'Looks good', next_wizard_path, class: 'nav-button pull-right' %></li>
    </ul>
  </div>
</div>


<%= render 'shared/scenery_guardian_confirmation' %>