<div class="madlib">
  <div>
    <!-- TODO: Connect these fields to the backend -->
    <!-- TODO: Rename these fields to not be duplicates of the guardian flow -->
    <%= @second_guardian.first_name %>'s e-mail address is
    <a href="#" id="a_guardian_email" data-emptytext="john@orangeseed.me" data-title="What is <%= @second_guardian.first_name %>'s e-mail address?" data-type="text" data-placement="top"></a>.

    <br/>
    The best way to contact <%= @second_guardian.first_name %> is by
    <a href="#" id="a_guardian_contact_preference" data-emptytext="Phone" data-title="What is the preferred way to contact <%= @second_guardian.first_name %>?" data-type="select" data-placement="top"></a>.

    <br/>
    I would like <%= @second_guardian.first_name %> to be notified of
    <a href="#" id="a_contact_person_notifications" data-emptytext="(notifications)" data-title="What <%= @second_guardian.first_name %> be notified of?" data-type="checklist" data-placement="top"></a>.
  </div>
</div>

<%= form_for(@guardian, url: wizard_path, method: :put) do |g| %>
    <div id="hidden-form-fields">

    </div>

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path %></li>
      <li><%= g.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>

<%= render 'shared/scenery_guardian' %>