<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <%= render 'enrollment/guardian1_errors' %>

  <%= form_for(@guardian_1, url: wizard_path, method: :put) do |g| %>

      <table>
        <tr>
          <td colspan="2"><span class="instructions">Your contact information</span></td>
        </tr>

        <tr>
          <td class="row-break"><span>Main phone<sup>*</sup></span>
            <span><%= g.telephone_field :main_phone, class: 'enrollment-form-input', placeholder: '401-111-2222', required: true, maxlength: 12 %></span>
          </td>
          <td>
            <div class="btn-group pull-right" data-toggle="buttons">

              <label class="btn btn-primary"> <!-- TODO Labels can use the Rails tags and link rather than surrounding the radio elements -->
                <%= g.radio_button :main_phone_can_sms, true %>Accepts texts</label>
              <label class="btn btn-primary">
                <%= g.radio_button :main_phone_can_sms, false %>No texts</label>
            </div>
          </td>
        </tr>

        <tr>
          <td><span>Secondary phone:</span>
            <span><%= g.telephone_field :secondary_phone, class: 'enrollment-form-input', placeholder: '401-222-3333' %></span>
          </td>
          <td>
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= g.radio_button :secondary_phone_can_sms, true %>Accepts texts</label>
              <label class="btn btn-primary">
                <%= g.radio_button :secondary_phone_can_sms, false %>No texts</label>
            </div>
          </td>
        </tr>

        <tr>
          <td><span>Work phone:</span>
            <span><%= g.telephone_field :work_phone, class: 'enrollment-form-input', placeholder: '401-333-4444' %></span>
          </td>
          <td>
            <div class="btn-group pull-right" data-toggle="buttons">
              <label class="btn btn-primary">
                <%= g.radio_button :work_phone_can_sms, true %>Accepts texts</label>
              <label class="btn btn-primary">
                <%= g.radio_button :work_phone_can_sms, false %>No texts</label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2"><span>Email address:</span>
            <span><%= g.email_field :email, class: 'enrollment-form-input', id: 'guardian_email', placeholder: 'abc@email.com' %></span>
          </td>
        </tr>

      </table>
      <ul class="pager">
        <li><%= link_to "Previous", previous_wizard_path %></li>
        <li><%= g.submit 'Next', class: 'nav-button pull-right' %></li>
      </ul>
      </div>



  <% end %>

  <%= render 'shared/scenery_guardian' %>