<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <div class="instructions">Tell us about <%= @student.first_name %>'s family.</div>

<%= form_for(ContactPerson.new, url: wizard_path, method: :put, id: 'editable-fields') do |c| %>
    <div>
        <table>
          <tr>
            <td colspan="2"><span>Does <%= @student.first_name %> have another parent, legal guardian or caregiver?</span> 
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="radio" name="has_additional_guardian" value="true">Yes</label>
                <label class="btn btn-primary">
                    <input type="radio" name="has_additional_guardian" value="false">No</label>
              </div>
            </td>
          </tr>

          <tr>
            <td class="row-break"><span>First Name:</span> <span><%= c.text_field :first_name, class: 'enrollment-form-input', id: 'guardian2_firstname', placeholder: 'Alice', required: true %></span></td>
            <td><span>Last Name:</span> <%= c.text_field :last_name, class: 'enrollment-form-input', id: 'guardian2_lastname', placeholder: 'Williams', required: true %></span></td>
          </tr>
          <tr>
            <td class="padding-right" colspan="2">Individual's relationship to <%= @student.first_name %>: <a href="#" class="enrollment-form-popover" data-toggle="modal" data-target="#guardian2RelationshipModal" id="guardian2RelationshipSelected">Choose</a>
            </td>
          </tr>
          <tr>
            <td colspan="2">How often does <%= @student.first_name %> live with this individual?</td>
          </tr>
          <tr>
            <td><input id="lives_with_g2_slider" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="10" data-slider-value="50" class="pull-right"></td>
            <td class="slider-result"><span id="lives_with_g2_val">50</span>%</td>
          </tr>
        </div>
      </table>
    </div>

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path %></li>
      <li><%= c.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<div class="modal fade" id="guardian2RelationshipModal" tabindex="-1" role="dialog" aria-labelledby="guardian2RelationshipModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="guardian2RelationshipLabel">How are you related to <%= @student.first_name %>?</h4>
      </div>
      <div class="modal-body single-col-modal">
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <%= c.radio_button :relationship, 'Mother' %>Mother
        </label><br/>
        <label class="btn btn-primary">
          <%= c.radio_button :relationship, 'Father' %>Father
        </label><br/>
        <label class="btn btn-primary">
          <%= c.radio_button :relationship, 'Guardian' %>Guardian
        </label><br/>
        <%= c.text_field :relationship, class: 'enrollment-form-input', id: 'other_relationship', placeholder: 'Other' %>
        <br/>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" id="btnGuardian2Relationship" class="nav-button pull-right" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>

<%= render 'shared/scenery_guardian' %>