<%= render 'enrollment/navigation' %>
<%= render 'enrollment/guardian2_errors' %>
<div class="enrollment-form">
  <div class="instructions">Tell us how to contact <%= @guardian_2.first_name %></div>

  <%= form_for(@guardian_2, url: wizard_path, method: :put) do |g| %>
      <div>
        <table>
          <div class="guardian1_alt_address">
            <tr>
              <td class="row-break" colspan="2"><span>Street address 1:</span>
                <span><%= g.text_field :mailing_street_address_1, class: 'enrollment-form-input', placeholder: '456 Newport Avenue' %></span>
              </td>
            </tr>
            <tr>
              <td class="row-break" colspan="2"><span>Street address 2:</span>
                <span><%= g.text_field :mailing_street_address_2, class: 'enrollment-form-input', placeholder: 'Apt 8C' %></span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span>City:</span>
                <span><%= g.text_field :mailing_city, class: 'enrollment-form-input', placeholder: 'Newport' %></span>,
                <span><%= g.text_field :mailing_state, class: 'enrollment-form-input', value: 'RI'%></span>
                <span><%= g.text_field :mailing_zip_code, class: 'enrollment-form-input', placeholder: '02840' %></span>
              </td>
            </tr>

            <tr>
              <td class="row-break"><span>Main phone:</span>
                <span><%= g.telephone_field :main_phone, class: 'enrollment-form-input', placeholder: '401-111-2222', required: true %></span>
              </td>
              <td>
                <div class="btn-group pul-right" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <%= g.radio_button :main_phone_can_sms, true %>Accepts Texts</label>
                  <label class="btn btn-primary">
                    <%= g.radio_button :main_phone_can_sms, false %>No Texts</label>
                </div>
              </td>
            </tr>
            <tr>
              <td><span>Secondary phone:</span>
                <span><%= g.telephone_field :secondary_phone, class: 'enrollment-form-input', placeholder: '401-111-2222' %></span>
              </td>
              <td>
                <div class="btn-group pul-right" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <%= g.radio_button :secondary_phone_can_sms, true %>Accepts Texts</label>
                  <label class="btn btn-primary">
                    <%= g.radio_button :secondary_phone_can_sms, false %>No Texts</label>
                </div>
              </td>
            </tr>
  <tr>
    <td colspan="2"><span>Email address:</span>
      <span><%= g.email_field :email, class: 'enrollment-form-input', id: 'guardian_email', placeholder: 'abc@email.com' %></span>
    </td>
  </tr>
  </div>

  </table>
  </div>

  <ul class="pager">
    <li><%= link_to "Previous", previous_wizard_path %></li>
    <li><%= g.submit 'Next', class: 'nav-button pull-right' %></li>
  </ul>
</div>
<% end %>

<%= render 'shared/scenery_guardian' %>