<div class="madlib">
  <div>
    My name is
    <%= @guardian.first_name %>
    <%= @guardian.last_name %>
    and I am
    <%= @student.first_name %>'s
    <a href="#" id="a_guardian_relationship" data-emptytext="(relationship)" data-title="What is your relationship to <%= @student.first_name %>?" data-type="select" data-placement="top"></a>.

    I
    <a href="#" id="a_guardian_is_custody_shared" data-emptytext="(do/don't)" data-title="Do you share custody of <%= @student.first_name %>?" data-type="select" data-placement="top"></a>
    share custody of
    <%= @gender_objective_pronoun %>
    <span id="shared-custody-period-span">.</span>


    <span id="shared-custody-div" style="display: none"> <!-- TODO: Don't have the display:none inline, move to CSS file -->
      with
      <a href="#" id="a_contact_person_first_name" data-emptytext="(first name)" data-title="What is the first name of the other guardian?" data-type="text" data-placement="top"></a>
      <a href="#" id="a_contact_person_last_name" data-emptytext="(last name)" data-title="What is the last name of the other guardian?" data-type="text" data-placement="top"></a>
      (who is <%= @gender_possessive_adjective %>
      <a href="#" id="a_contact_person_relationship" data-emptytext="(relationship)" data-title="What is <%= @student.first_name %>'s relationship to this guardian?" data-type="select" data-placement="top"></a>
      ).
      We
      <a href="#" id="a_guardian_other_guardian_cohabitates" data-emptytext="(do/don't)" data-title="Do you live with the other guardian?" data-type="select" data-placement="top"></a>
      live together.
    </span>

    <span id="shared-pronoun-span">(My/Our)</span>
    address is
    <a href="#" id="a_guardian_mailing_street_address_1" data-emptytext="(street address)" data-title="What is your address?" data-type="text" data-placement="top" data-value="<%= @student.home_street_address_1 %>"></a>,
    <a href="#" id="a_guardian_mailing_city" data-emptytext="(city)" data-title="What is your city?" data-type="text" data-placement="top" data-value="<%= @student.home_city %>"></a>,
    RI,
    <a href="#" id="a_guardian_mailing_zip_code" data-emptytext="(zip code)" data-title="What is your zip code?" data-type="text" data-placement="top" data-value="<%= @student.home_zip_code %>"></a>.

    <div id="shared-custody-different-address-div" style="display: none"> <!-- TODO: Don't have the display:none inline, move to CSS file -->
      <span id="other-guardian-first-name"></span>
      lives at
      <a href="#" id="a_contact_person_mailing_street_address_1" data-emptytext="(street address)" data-title="What is the other guardian's address?" data-type="text" data-placement="top" data-value="<%= @student.alt_home_street_address_1 %>"></a>,
      <a href="#" id="a_contact_person_mailing_city" data-emptytext="(city)" data-title="What is the other guardian's city?" data-type="text" data-placement="top" data-value="<%= @student.alt_home_city %>">></a>,
      <a href="#" id="a_contact_person_mailing_state" data-emptytext="(state)" data-title="What is the other guardian's state?" data-type="text" data-placement="top" data-value="<%= @student.alt_home_state %>">></a>,
      <a href="#" id="a_contact_person_mailing_zip_code" data-emptytext="(zip code)" data-title="What is the other guardian's zip code?" data-type="text" data-placement="top" data-value="<%= @student.alt_home_zip_code %>">></a>.
    </div>

  </div>
</div>

<%= form_for(@guardian, url: wizard_path, method: :put) do |g| %>
    <div id="hidden-form-fields">
      <%= g.text_field :relationship %>
      <input type="text" id="guardian_is_custody_shared"/> <!-- TODO: This should be a checkbox -->
      <%= g.text_field :mailing_street_address_1 %>
      <%= g.text_field :mailing_city %>
      <!-- TODO: Add a mailing state for guardian #1 -->
      <%= g.text_field :mailing_zip_code %>
      <input type="text" id="guardian_other_guardian_cohabitates"/> <!-- TODO: This should be a checkbox -->

      <%= fields_for(ContactPerson.new) do |c| %>
          <%= c.text_field :first_name %>
          <%= c.text_field :last_name %>
          <%= c.text_field :mailing_street_address_1 %>
          <%= c.text_field :mailing_city %>
          <%= c.text_field :mailing_state %>
          <%= c.text_field :mailing_zip_code %>
          <%= c.text_field :relationship %>
      <% end %>

    </div>

    <ul class="pager">
      <li><%= link_to "Previous", :root %></li>
      <li><%= g.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>

<%= render 'shared/scenery_guardian' %>