<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <div class="instructions">Tell us how to contact <%= @second_guardian.first_name %></div>

  <%= form_for(@second_guardian, url: wizard_path, method: :put) do |g| %>
    <div>
        <table>
          <div class="guardian1_alt_address">
            <tr>
              <td class="row-break" colspan="2"><span>Street address:</span> <span><%= g.text_field :mailing_street_address_1, class: 'enrollment-form-input', id: 'guardian_street_address_1', placeholder: '456 Newport Avenue' %></span> </td>
            </tr>
            <tr>
              <td colspan="2"> <span>City:</span><span><%= g.text_field :mailing_street_address_2, class: 'enrollment-form-input', id: 'guardian1_city', placeholder: 'Newport' %></span>, RI
              <span><%= g.text_field :mailing_zip_code, class: 'enrollment-form-input', id: 'guardian_zip_code', placeholder: '02840' %></span>
              </td>
            </tr>

            <tr><td class="row-break"><span>Main phone:</span> <span><%= g.telephone_field :main_phone, class: 'enrollment-form-input', placeholder: '401-111-2222', required: true %></span></td>
              <td>
              <div class="btn-group pul-right" data-toggle="buttons">
                      <label class="btn btn-primary">
                          <%= g.radio_button :main_phone_can_sms, true %>Accepts Texts</label>
                      <label class="btn btn-primary">
                          <%= g.radio_button :main_phone_can_sms, false %>No Texts</label>
                  </div>
                </td>
              </tr>
             <% end %>
              <tr><td><span>Secondary phone:</span> <span><%= g.telephone_field :secondary_phone, class: 'enrollment-form-input', placeholder: '401-111-2222'%></span></td>
                <td>
                  <div class="btn-group pul-right" data-toggle="buttons">
                      <label class="btn btn-primary">
                          <%= p.radio_button :secondary_phone, true %>Accepts Texts</label>
                      <label class="btn btn-primary">
                          <%= p.radio_button :secondary_phone, true %>Landline</label>
                  </div>
                </td>
              </tr>
            <% end %>
              <tr><td colspan="2"><span>Email address:</span> <span><%= g.email_field :email, class: 'enrollment-form-input', id: 'guardian_email', placeholder: 'abc@email.com' %></span></td>
              </tr>
          </div>

      </table>
    </div>

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path %></li>
      <li><%= g.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<div class="modal fade" id="guardian1RelationshipModal" tabindex="-1" role="dialog" aria-labelledby="guardian1RelationshipModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="firstLanguageLabel">How are you related to <%= @student.first_name %>?</h4>
      </div>
      <div class="modal-body single-col-modal">
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <%= g.radio_button :relationship, :mother %>Mother
        </label><br/>
        <label class="btn btn-primary">
          <%= g.radio_button :relationship, :father %>Father
        </label><br/>
        <label class="btn btn-primary">
          <%= g.radio_button :relationship, :guardian %>Guardian
        </label><br/>
        <%= g.text_field :relationship, class: 'enrollment-form-input', id: 'other_relationship', placeholder: 'Other' %>
        <br/>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" id="btnGuardian1Relationship" class="nav-button pull-right" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>

<%= render 'shared/scenery_guardian' %>