<% contacts = @student.contact_people %>

<%= render 'enrollment/navigation' %>
<%= render 'enrollment/student_errors' %>

<div class="enrollment-form">
  <div class="instructions">Permissions and authorizations</div>
  <!-- TODO: Add tooltip saying this is other than the parent/guardians -->
  <!-- TODO: Enable checkboxes to be populated when the back button, etc. is used -->

  <%= form_for(@student, url: wizard_path, method: :put) do |c| %>
  <div class="permissions_table enableZindex">
  <table>
    <tr>
      <td class="row-break minimize-padding" colspan="2">Who may pick up <%= @student.first_name %> from school?</td>
    </tr>
    <tr><td colspan="2" class="minimize-padding"> 
      <div class ="checkbox inline-checkbox">
      <% contacts.each_with_index do |contact, index| %>
          <div class ="checkbox inline-checkboxes">
            <% contact_name = 'contact_person_' + index.to_s + '_pickup' %>
            <input id="<%=contact_name%>" name="<%=contact_name%>" type="checkbox">
            <label for="<%=contact_name%>"><span class="capitalize"><%=contact.first_name%></span></label>
          </div>
      <% end %>
    </td>
    </tr>

    <tr>
      <td colspan="2" class="minimize-padding">Who may receive information about <%= @gender_possessive_pronoun %> school records?</td>
    </tr>
    <tr><td colspan="2" class="minimize-padding"> 
      <div class ="checkbox inline-checkbox">
        <% contacts.each_with_index do |contact, index| %>
            <div class ="checkbox inline-checkboxes">
              <% contact_name = 'contact_person_' + index.to_s + '_records' %>
              <input id="<%=contact_name%>" name="<%=contact_name%>" type="checkbox">
              <label for="<%=contact_name%>"><span class="capitalize"><%=contact.first_name%></span></label>
            </div>
        <% end %>
    </td>
    </tr>

    <tr>
      <td colspan="2"  class="minimize-padding"><span>Are there any court orders regarding legal custody, physical custody or restricted contact with the school or with <%= @student.first_name %>?<sup>*</sup></span> 
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
              <input type="radio" name="has_court_order" value="true">Yes</label>
          <label class="btn btn-primary">
              <input type="radio" name="has_court_order" value="false">No</label>
        </div>
      </td>
    </tr>

  </table>
</div>
  <ul class="pager pagerZindex">
    <li><%= link_to "Previous", previous_wizard_path %></li>
    <li><%= c.submit 'Next', class: 'nav-button pull-right' %></li>
  </ul>
</div>



<% end %>

<%= render 'shared/scenery_permissions' %>