<div class="madlib">
  <div class="instructions">We need a little info to get started.</div>
</div>

<!-- Figure out how to make this a post or put, rather than a get...currently results in a routing issue -->
<%= form_for(Student.new, url: wizard_path, method: :put, id: 'editable-fields') do |s| %>
    <div>
      Student's name: 
      <span><%= s.text_field :first_name, class: 'madlib-input', id: 'student_firstname', contenteditable: 'true', placeholder: 'First name' %></span>
      <span><%= s.text_field :last_name, class: 'madlib-input', id: 'student_lastname', contenteditable: 'true', placeholder: 'Last name' %></span></div>
      <div>Gender:
        <span class="btn-group">
          <button type="button" class="btn btn-default">Female</button>
          <button type="button" class="btn btn-default">Male</button>
        </span>
      </div>
      <div>Birthdate:<span><%= s.date_field :birthday, class: 'madlib-input', id: 'student_birthday' %></span></div>
      <div>Birthplace:<span><%= s.text_field :birth_country, class: 'madlib-input', id: 'student_birthplace', placeholder: 'Country' %></span></div>
      <div>School District: <span><%= s.text_field :home_city, class: 'madlib-input', id: 'student_home_city', contenteditable: 'true', placeholder: 'School District' %></span></div>

      <%= fields_for(Guardian.new) do |g| %>
      <div class="section-break"><span>Your name: <%= g.text_field :first_name, class: 'madlib-input', id: 'guardian_firstname', contenteditable: 'true', placeholder: 'First name' %></span>
      <span><%= g.text_field :last_name, class: 'madlib-input', id: 'guardian_lastname', contenteditable: 'true', placeholder: 'Last name' %></span>
      <% end %>
    </div>

    <ul class="pager">
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>


<%= render 'shared/scenery_student' %>