<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <%= form_for(@student, url: wizard_path, method: :put) do |s| %>
      <table>
        <tr>
          <td><span class="instructions"><%= @student.first_name %>'s Home Address</span></td></tr>
        <tr>
          <td class="row-break" colspan="2"><span>Street address 1:</span> <span><%= s.text_field :home_street_address_1, class: 'enrollment-form-input', id: 'student_home_address_1', placeholder: '123 Providence Way', required: true %></span> </td>
        </tr>
        <tr>
          <td colspan="2"><span>Street address 2:</span> <span><%= s.text_field :home_street_address_2, class: 'enrollment-form-input', id: 'student_home_address_2', placeholder: 'Apt. 5B' %></span> </td>
        </tr>
        <tr>
          <td colspan="2"> <span>City:</span><span><%= s.text_field :home_city, class: 'enrollment-form-input', id: 'student_home_city', placeholder: 'Providence', required: true, pattern: '^[a-zA-Z\u0080-\u024F\s\/\-\)\(\`\.\"\']+$' %></span>, RI
          <%= s.text_field :home_zip_code, class: 'enrollment-form-input', id: 'student_zip_code', placeholder: '02905', required: true, pattern: '\d{5}' %></span></span>
          </td>
        </tr>
      </table>     
    </div>

    <div id="hidden-form-fields">

      <input id="student_alt_home_status" type="text"/>

      <%= s.text_field :alt_home_street_address_1 %>
      <%= s.text_field :alt_home_city %>
      <%= s.text_field :alt_home_state %>
      <%= s.text_field :alt_home_zip_code %>
    </div>

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path %></li>
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>

<%= render 'shared/scenery_student' %>