<%= render 'enrollment/navigation' %>
<div class="enrollment-form">

  <%= render 'enrollment/student_errors' %>

  <%= form_for(@student, url: wizard_path, method: :put) do |s| %>

  <div class="enrollment-qa-table-radio-only">
    <table>
      <tr><td colspan="2"><span class="instructions">Special Services</span></td></tr>
      <tr>
        <td class="enrollment-qa-radio-only-question-cell">Was <%= @student.first_name %> receiving special education services at <%= @student_gender_objective_pronoun %> previous school?<sup>*</sup></td>
        <td class="enrollment-qa-gutter-cell"></td>
        <td class="enrollment-qa-radio-only-answer-cell"><div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <%= s.radio_button :needs_special_services, true %>Yes</label>
            <label class="btn btn-primary">
              <%= s.radio_button :needs_special_services, false %>No</label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="enrollment-qa-radio-only-question-cell">Did <%= @student_gender_pronoun %> have a current Individualized Education Program (IEP) at the previous school?<sup>*</sup></td>
        <td class="enrollment-qa-gutter-cell"></td>
        <td class="enrollment-qa-radio-only-answer-cell"><div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
              <%= s.radio_button :iep, true %>Yes</label>
          <label class="btn btn-primary">
              <%= s.radio_button :iep, false %>No</label>
        </div></td>
      </tr> <!-- this should trigger "Bring copy of IEP" on final screen -->
      <tr>
        <td class="enrollment-qa-radio-only-question-cell">Did <%= @student_gender_pronoun %> have a Section 504 Plan at <%= @student_gender_objective_pronoun %> prior school?<sup>*</sup></td>
        <td class="enrollment-qa-gutter-cell"></td>
        <td class="enrollment-qa-radio-only-answer-cell"><div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
              <%= s.radio_button :p504, true %>Yes</label>
          <label class="btn btn-primary">
              <%= s.radio_button :p504, false %>No</label>
        </div></td>
      </tr> <!-- this should trigger "Bring copy of student's Section 504 Plan" on final screen -->
      <tr>
        <td class="enrollment-qa-radio-only-question-cell">Does <%= @student_gender_pronoun %> have difficulties that interfere with <%= @student_gender_objective_pronoun %> ability to go to school or to learn?<sup>*</sup></td>
        <td class="enrollment-qa-gutter-cell"></td>
        <td class="enrollment-qa-radio-only-answer-cell"><div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <%= s.radio_button :has_learning_difficulties, true %>Yes</label>
            <label class="btn btn-primary">
                <%= s.radio_button :has_learning_difficulties, false %>No</label>
          </div></td>
      </tr>
    </table>
  </div>

    <ul class="pager">
      <li><%= link_to "Previous", '/enrollment' %></li>
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

  <% end %>
</div>

<%= render 'shared/scenery_student' %>