<div class="madlib">
  <div class="instructions">We need a little info to get started.</div>
</div>

<!-- Figure out how to make this a post or put, rather than a get...currently results in a routing issue -->
<%= form_for(Student.new, url: wizard_path, method: :put, id: 'editable-fields') do |s| %>
    <div>
      Student's legal name:  <!-- TODO: Add tooltip that says this is the name on birth certificate -->
      <span><%= s.text_field :first_name, class: 'madlib-input', id: 'student_firstname', contenteditable: 'true', placeholder: 'First name' %></span>
      <span><%= s.text_field :last_name, class: 'madlib-input', id: 'student_lastname', contenteditable: 'true', placeholder: 'Last name' %></span></div>
      <div>
        Student's nickname:  <!-- TODO: Add tooltip that says this is the name the student goes by -->
        <span><%= s.text_field :nickname, class: 'madlib-input', id: 'student_nickname', contenteditable: 'true', placeholder: 'Nickname' %></span></div>

      <%= fields_for(Guardian.new) do |g| %>
      <div class="section-break"><span>Your legal name: <%= g.text_field :first_name, class: 'madlib-input', id: 'guardian_firstname', contenteditable: 'true', placeholder: 'First name' %></span>
      <span><%= g.text_field :last_name, class: 'madlib-input', id: 'guardian_lastname', contenteditable: 'true', placeholder: 'Last name' %></span>
      <% end %>
    </div>

    <ul class="pager">
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>


<%= render 'shared/scenery_student' %>