<div class="madlib">
  <div class="instructions">We need a little info to get started.</div>

<!-- Figure out how to make this a post or put, rather than a get...currently results in a routing issue -->
<%= form_for(Student.new, url: wizard_path, method: :put, id: 'editable-fields') do |s| %>
    <div>
      <%= fields_for(Guardian.new) do |g| %>
      <div><span>Hello, my name is <%= g.text_field :first_name, class: 'madlib-input', id: 'guardian_firstname', contenteditable: 'true', placeholder: 'Roger' %></span>
      <span><%= g.text_field :last_name, class: 'madlib-input', id: 'guardian_lastname', contenteditable: 'true', placeholder: 'Williams' %></span>
      <% end %>
    </div>
      
      <div>and I'd like to enroll <!-- TODO: Add tooltip that says this is the name on birth certificate -->
      <span><%= s.text_field :first_name, class: 'madlib-input', id: 'student_firstname', contenteditable: 'true', placeholder: 'Charles' %></span>
      <span><%= s.text_field :last_name, class: 'madlib-input', id: 'student_lastname', contenteditable: 'true', placeholder: 'Williams' %></span></div>
      <div>
        whose nickname is  <!-- TODO: Add tooltip that says this is the name the student goes by -->
        <span><%= s.text_field :nickname, class: 'madlib-input', id: 'student_nickname', contenteditable: 'true', placeholder: 'Chuckie' %></span></div>
      <div>
        in the 
        <a href="#" id="a_student_home_city" data-title="What is the student's home city/town?" data-type="select"><%= s.text_field :home_city, class: 'madlib-input', id: 'home_city', contenteditable: 'true', placeholder: 'Portsmouth' %></a>
        Public School System.<!-- <span class="dropdown"> -->
          <!-- <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">City<span class="caret"></span></button> -->
          <!-- <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            <li><a href="#">Cranston</a></li>
            <li><a href="#">Newport</a></li>
            <li><a href="#">Warwick</a></li>
            <li><a href="#">West Warwick</a></li>
          </ul>
        </span> -->
      </div>

    </div>

    <ul class="pager">
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>
</div>

<%= render 'shared/scenery_student' %>