<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <div class="instructions">Tell us more about <%= @student.first_name %>.</div>

  <% if @student.errors %>
      <ul id="validation-errors">
        <% @student.errors.each do |field, message| %>
            <li><%= field %>: <%= message %></li>
        <% end %>
      </ul>
  <% end %>

<%= form_for(@student, url: wizard_path, method: :put) do |student| %>

    <table>
      <tr><td class="row-break" colspan="2">
        <span>Gender:</span> 
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <%= student.radio_button :gender, :female %>Female</label>
            <label class="btn btn-primary">
                <%= student.radio_button :gender, :male %>Male</label>
        </div></td></tr>
      <tr><td class="row-break"><span class="instructions">Ethnicity</span></td></tr>
      <tr><td colspan="2"><span>Hispanic or Latino descent?</span> 
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <%= student.radio_button :is_hispanic, true, presence: { message: "Selection required" } %>Yes</label>
            <label class="btn btn-primary">
                <%= student.radio_button :is_hispanic, false, presence: { message: "Selection required" }%>No</label>
        </div></td></tr>

      <tr><td colspan="2"><span>Race(s)?</span>
          <div class="btn-group" data-toggle="buttons">
          <% Race.all.each do |race| %>

              <span data-toggle="tooltip" title="You may select more than one." id="nickname-tooltip">
                <%= check_box_tag 'student[race_ids][]', race.id, @student.race_ids.include?(race.id), id: dom_id(race), class: 'hidden' %>
                <%= label_tag dom_id(race), t('race_' + race.race), class: 'btn btn-primary' %>
              </span>
          <% end %>
        </div>
      </td>
      </tr>

    </table>

      <!--
      <div>
        <% Race.all.each do |race| %>
                <%= check_box_tag 'student[race_ids][]', race.id, @student.race_ids.include?(race.id), id: dom_id(race) %>
                <%= label_tag dom_id(race), t('race_' + race.race) %>
        <% end %>
      </div>
      -->

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path %></li>
      <li><%= student.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

  <% end %>
</div>

<%= render 'shared/scenery_student' %>

