<div class="enrollment-form">
  <div class="instructions">We need a little info to get started.</div>

<!-- Figure out how to make this a post or put, rather than a get...currently results in a routing issue -->
<%= form_for(Student.new, url: wizard_path, method: :put, id: 'editable-fields') do |s| %>
    <div>
      <%= fields_for(Guardian.new) do |g| %>
      <table>
        <tr><td><span class="filler-text">Guardian</span></td></tr>
        <tr><td><span>First Name:</span> <span><%= g.text_field :first_name, class: 'enrollment-form-input', id: 'guardian_firstname', contenteditable: 'true', placeholder: 'Roger' %></span></td><td><span>Last Name:</span> <%= g.text_field :last_name, class: 'enrollment-form-input', id: 'guardian_lastname', contenteditable: 'true', placeholder: 'Williams' %> </span></td></tr>
      <% end %>
      <tr><td class="row-break"><span class="filler-text">Student</span></td></tr>
        <tr><td><span>First Name:</span> <span><%= s.text_field :first_name, class: 'enrollment-form-input', id: 'student_firstname', contenteditable: 'true', placeholder: 'Charles' %></span></td><td><span>Last name:</span><span><%= s.text_field :last_name, class: 'enrollment-form-input', id: 'student_lastname', contenteditable: 'true', placeholder: 'Williams' %></span></td></tr>
        <tr><td colspan="2"><span>Student nickname:</span> <span><%= s.text_field :nickname, class: 'enrollment-form-input', id: 'student_nickname', contenteditable: 'true', placeholder: 'Chuckie' %></span></td></tr>
        <tr><td colspan="2"><span>Birthdate:</span> <span><%= s.date_field :birthday, class: 'madlib-input', id: 'student_birthday' %></span> </td></tr>
          <tr><td colspan="2"> <span>Birthplace:</span><span><%= s.text_field :birth_city, class: 'madlib-input', id: 'student_birth_city', placeholder: 'City' %></span>, 
  <%= s.text_field :birth_state, class: 'madlib-input', id: 'student_birth_state', placeholder: 'State' %></span><%= s.text_field :birth_country, class: 'madlib-input', id: 'student_birth_country', placeholder: 'Country' %></span></td></tr>

      </table>
    </div>

    <ul class="pager">
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>
</div>

<%= render 'shared/scenery_student' %>



