<div class="madlib">
  <div class="instructions">Tell us more about <%= @student.first_name %>.</div>
</div>

<%= form_for(@student, url: wizard_path, method: :put) do |s| %>

<div>Gender:
    <button type="button" class="btn btn-default" id="student_gender_female">Female</button>
    <button type="button" class="btn btn-default" id="student_gender_male">Male</button>
</div>
<div>Birthdate:<span><%= s.date_field :birthday, class: 'madlib-input', id: 'student_birthday' %></span></div>
<div>Birthplace:<span><%= s.text_field :birth_city, class: 'madlib-input', id: 'student_birth_city', placeholder: 'City' %></span>
  <%= s.text_field :birth_state, class: 'madlib-input', id: 'student_birth_state', placeholder: 'State' %></span><%= s.text_field :birth_country, class: 'madlib-input', id: 'student_birth_country', placeholder: 'Country' %></span></div>

  <div>Home address:<span><%= s.text_field :home_street_address_1, class: 'madlib-input', id: 'student_address1', placeholder: 'Number' %></span>
<span><%= s.text_field :home_street_address_2, class: 'madlib-input', id: 'student_address2', placeholder: 'Street' %></span></div>
    <div><%= s.text_field :home_city, class: 'madlib-input', id: 'student_home_city', placeholder: @student.home_city || 'City' %></span>, RI <span>
    <%= s.text_field :home_zip_code, class: 'madlib-input', id: 'student_home_zip', placeholder: 'Zip Code' %></span></div>

    <div id="hidden-form-fields">
      <%= s.text_field :birthday %>
      <%= s.text_field :birth_country %>
      <%= s.text_field :gender %>
      <%= s.text_field :is_hispanic %>

      <%= fields_for StudentRace.new do |r|%>
        <%= r.text_field :race %>
      <% end %>
      <!-- TODO: Return to figure out how to populate student race -->
    </div>

    <ul class="pager">
      <li><%= link_to "Previous", '/enrollment' %></li>
      <li><%= s.submit 'Next', class: 'nav-button pull-right' %></li>
    </ul>

<% end %>

<%= render 'shared/scenery_student' %>