<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active instructions"><a href="#summaryStudent" role="tab" data-toggle="tab">Student</a></li>
    <li class="instructions"><a href="#summaryGuardian1" role="tab" data-toggle="tab">Guardian 1</a></li>
    <li class="instructions"><a href="#summaryGuardian2" role="tab" data-toggle="tab">Guardian 2</a></li>
    <li class="instructions"><a href="#summaryContacts" role="tab" data-toggle="tab">Contacts</a></li>
    <li class="instructions"><a href="#summaryPermissions" role="tab" data-toggle="tab">Permissions</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="summaryStudent">
        <table class="summaryTable">
          <% @summary_student=Student.where(first_name:'Jimmy')[0] %>
          <% @summary_race=StudentRace.where(student:@summary_student)[0] %>
          <% @summary_guardian1=ContactPerson.where(first_name:'Linda')[0] %>
          <% @summary_guardian2=ContactPerson.where(email:'terry@codeisland.org')[0]%>
          <% @summary_contact1=ContactPerson.where(email:'rita@codeisland.org')[0]%>
          <tr>
            <td class="summaryText section-break" colspan="3">
              The student you are registering is <span class="summaryAnswers"><%= @summary_student.first_name %> <%= @summary_student.middle_name %> <%= @summary_student.last_name %></span>, who was born on <span class="summaryAnswers"><%= @summary_student.birthday %></span> in <span class="summaryAnswers"><%= @summary_student.birth_city %>, <%= @summary_student.birth_state %> <%= @summary_student.birth_country %></span>.<div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/student_name' %></div></td>
          </tr>
          <tr>
            <td class="summaryText" colspan="3"> 
              <% if @summary_student.gender == 'male' %>
              <span class="summaryAnswers">  <%= 'He' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'She' %>
                <% end %>

              <% if @summary_student.is_hispanic == false %>
                   <%= 'is not' %>
                   <% elsif @summary_student.is_hispanic == true %>
                     <%= 'is' %>
                     <% end %>  </span> Hispanic or Latino descent. 
              <% if @summary_student.gender == 'male' %>
                <%= 'His' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'Her' %>
                <% end %> primary race is <span class="summaryAnswers"><%= @summary_race.primary_race.titlecase %></span>, and               
                <% if @summary_student.gender == 'male' %>
                  <%= 'he' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'she' %>
                <% end %> is also <span class="summaryAnswers"><%= @summary_race.additional_races %></span>.
                <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/student_gender_and_ethnicity' %></div>
            </td>
          </tr>
          <tr>
           <td class="summaryText" colspan="3"><%= @summary_student.first_name %>'s primary language is <%= @summary_student.home_language.titlecase %>. At home,  
              <% if @summary_student.gender == 'male' %>
                <%= 'he' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'she' %>
              <% end %>
              speaks <span class="summaryAnswers">
               <%= @summary_student.guardian_language.titlecase %></span>. 
               <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/student_language' %></div></td>
          </tr>
          <tr>
            <td class="summaryText" colspan="3"><%= @summary_student.first_name %> most recently attended <span class="summaryAnswers"><%= @summary_student.prior_school_name.titlecase %></span> in <span class="summaryAnswers"><%= @summary_student.prior_school_city.titlecase %>, <%= @summary_student.prior_school_state.upcase %></span>. The last grade   
              <% if @summary_student.gender == 'male' %>
                <%= 'he' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'she' %>
              <% end %>
                completed was <span class="summaryAnswers"> <%= @summary_student.last_completed_grade %></span>.
                <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/student_previous_school' %></div></td>
          </tr>
          <tr>
            <td class="summaryText" colspan="3">
              <%= @summary_student.first_name %>

              <span class="summaryAnswers">  
                <% if @summary_student.needs_special_services == true %>
                  <%= 'needs' %>
                <% elsif @summary_student.needs_special_services == false || @summary_student.needs_special_services.nil? == true %>
                  <%= 'does not need' %>
                <% end %>
              </span> special services.   
               
                <% if @summary_student.gender == 'male' %>
                  <%= 'He' %>
                <% elsif @summary_student.gender == 'female' %>
                  <%= 'She' %>
                <% end %>
              
              <span class="summaryAnswers">  
                <% if @summary_student.p504 == true %>
                  <%= 'has' %>
                <% elsif @summary_student.p504 == false || @summary_student.p504.nil? == true %>
                  <%= 'does not have' %>
                <% end %>
              </span> Section 504.

             
              <% if @summary_student.gender == 'male' %>
                <%= 'He' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'She' %>
              <% end %>
            
          <span class="summaryAnswers">  
            <% if @summary_student.has_learning_difficulties == true %>
              <%= 'has' %>
            <% elsif @summary_student.has_learning_difficulties == false || @summary_student.has_learning_difficulties.nil? == true %>
              <%= 'does not have' %>
            <% end %>
          </span> learning difficulties.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/student_special_services' %></div></td>
          </tr>
          <tr>
            <td class="summaryText" colspan="3">  
                <%= @summary_student.first_name %> lives at
              <span class="summaryAnswers"><%= @summary_student.home_street_address_1 %> <%= @summary_student.home_street_address_2 %> in <%= @summary_student.home_city %>, <%= @summary_student.home_state %></span>.
              <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/student_address' %></div></td>
          </tr>
        </table>
    </div>
    <div class="tab-pane" id="summaryGuardian1">
      <table class="summaryTable">
          <td class="summaryText section-break">
            Your name is <span class="summaryAnswers"><%= @summary_guardian1.first_name %> <%= @summary_guardian1.last_name %></span>, and you are <%= @summary_student.first_name %>'s <span class="summaryAnswers"><%= @summary_guardian1.relationship %><span class="summaryAnswers">.
            <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_name_and_address' %></div></td>
        </tr>
        <tr>
          <td class="summaryText">You and <%= @summary_student.first_name %> live at <span class="summaryAnswers"><%= @summary_student.home_street_address_1 %> <%= @summary_student.home_street_address_2 %> in <%= @summary_student.home_city %>, <%= @summary_student.home_state %></span>.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_name_and_address' %></div></td>
        </tr>
        <tr>
          <td class="summaryText">Your primary phone number is <!--TODO get this from database --><span class="summaryAnswers">401-111-9999</span> which <span class="summaryAnswers">receives text messages</span>. <br/><br/>
            A second phone number for you is <!--TODO get this from database --><span class="summaryAnswers">401-222-2222</span> which <span class="summaryAnswers">does not receive text messages</span>.<br/><br/>
            Your work phone is <span class="summaryAnswers">401-222-2222</span>.
            <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div></td>
        </tr>
        <tr>
          <td class="summaryText">Your email is <span class="summaryAnswers"><%= @summary_guardian1.email %></span>.
            <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div>
          </td>
        </tr>
      </table>
 
    </div>

    <div class="tab-pane" id="summaryGuardian2">
      <table class="summaryTable">
          <td class="summaryText section-break">
           Another guardian for <%= @summary_student.first_name %> is <span class="summaryAnswers"><%= @summary_guardian2.first_name %> <%= @summary_guardian2.last_name %></span>, who is <%= @summary_student.first_name %>'s <span class="summaryAnswers"><%= @summary_guardian2.relationship %></span>.
           <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_second_name_and_relationship' %></div></td>
        </tr>
        <tr>
          <td class="summaryText"><%= @summary_guardian2.first_name %> lives at <span class="summaryAnswers"><%= @summary_guardian2.mailing_street_address_1 %> <%= @summary_student.mailing_street_address_2 %> in <%= @summary_student.mailing_city %>, <%= @summary_student.mailing_state %> <%= @summary_student.mailing_zip_code %></span>.
            <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText"><%= @summary_guardian2.first_name %>'s primary phone number is <!--TODO get this from database --><span class="summaryAnswers">401-333-1313</span> which <span class="summaryAnswers">does not receive text messages</span>. <br/><br/>
            A second phone number for <%= @summary_guardian2.first_name %> is <!--TODO get this from database --><span class="summaryAnswers">401-444-9099</span> which <span class="summaryAnswers">does not receive text messages</span>.<br/><br/>
            <%= @summary_guardian2.first_name %>'s work phone is <span class="summaryAnswers">N/A</span>.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText"><%= @summary_guardian2.first_name %>'s email is <span class="summaryAnswers"><%= @summary_guardian2.email %></span>.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
      </table>
    
    </div>
    <div class="tab-pane" id="summaryContacts">
      <table class="summaryTable">
        <tr>
          <td class="summaryText section-break">
            Someone who can contact you during an emergency is <span class="summaryAnswers"><%= @summary_contact1.first_name %> <%= @summary_guardian1.last_name %></span>, who is <%= @summary_student.first_name %>'s <span class="summaryAnswers"><%= @summary_contact1.relationship %></span>.
            <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText"><%= @summary_contact1.first_name %>'s primary phone number is <!--TODO get this from database --><span class="summaryAnswers">401-333-6666</span> which <span class="summaryAnswers">receives text messages</span>. <br/><br/>
            A second phone number for <%= @summary_contact1.first_name %> is <!--TODO get this from database --><span class="summaryAnswers">401-908-9999</span> which <span class="summaryAnswers">receives text messages</span>.<br/><br/>
            <%= @summary_contact1.first_name %>'s work phone is <span class="summaryAnswers">401-111-2222</span>.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText"><%= @summary_contact1.first_name %>'s email is <span class="summaryAnswers"><%= @summary_contact1.email %></span>.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane" id="summaryPermissions">
      <table class="summaryTable">
        <tr>
          <td class="summaryText section-break">
            <%= @summary_student.first_name %> may be picked up from school by <span class="summaryAnswers"><%= @summary_guardian1.first_name %> <%= @summary_guardian1.last_name %></span>, <span class="summaryAnswers"><%= @summary_guardian2.first_name %> <%= @summary_guardian2.last_name %></span>, and <span class="summaryAnswers"><%= @summary_contact1.first_name %> <%= @summary_contact1.last_name %></span>.
            <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/permissions' %></div></td>
        </tr>
        <tr>
          <td class="summaryText"><%= @summary_student.first_name %>'s grades may be sent to <span class="summaryAnswers"><%= @summary_guardian1.first_name %> <%= @summary_guardian1.last_name %></span> and <span class="summaryAnswers"><%= @summary_guardian2.first_name %> <%= @summary_guardian2.last_name %></span>.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/permissions' %></div></td>
        </tr>
        <tr>
          <td class="summaryText"><%= @summary_student.first_name %>'s conduct notices may be sent to <span class="summaryAnswers"><%= @summary_guardian1.first_name %> <%= @summary_guardian1.last_name %></span> and <span class="summaryAnswers"><%= @summary_guardian2.first_name %> <%= @summary_guardian2.last_name %></span>.
          <div class="summaryEdit pull-right"><%= link_to "edit", '/enrollment/permissions' %></div></td>
        </tr>
      </table>
    </div>
  </div>
  
</div>

<%= render 'shared/scenery_contact_confirmation' %>