<!-- TODO Move this into the controller -->

<% @summary_student=Student.find(session[:student_id]) %>
<% if @summary_student.contact_people.size > 3 %>
    <% @summary_guardian1 = @summary_student.contact_people[0] %>
    <% @summary_guardian2 = @summary_student.contact_people[1] %>
    <% @summary_contact1 = @summary_student.contact_people[2] %>
    <% @summary_contact2 = @summary_student.contact_people[3] %>
<% else %>
    <% @summary_guardian1 = @summary_student.contact_people[0] %>
    <% @summary_guardian2 = nil %>
    <% @summary_contact1 = @summary_student.contact_people[1] %>
    <% @summary_contact2 = @summary_student.contact_people[2] %>
<% end %>


<%= render 'enrollment/navigation' %>
<div class="enrollment-form">
  <div class="summary_table enableZindex_summary">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active instructions"><a href="#summaryContacts1" role="tab" data-toggle="tab"><%= @summary_contact1.first_name %></a></li>
    <li class="instructions"><a href="#summaryContacts2" role="tab" data-toggle="tab"><%= @summary_contact2.first_name %></a></li>
    <li class="instructions"><a href="#summaryPermissions" role="tab" data-toggle="tab">Permissions</a></li>
  </ul>

  <!-- Tab panes -->
  <!-- TODO a lot of stuff here isn't actually rendered on the final page (or is removed: such as student race). We should clean this up to speed up processing, unless it gets used for printing, etc. -->
  <div class="tab-content">

    <div class="tab-pane active" id="summaryContacts1">
      <table class="summaryTable">
        <tr>
          <td class="summaryText section-break" colspan="2">
            Someone who can contact you during an emergency is <span class="summaryAnswers"><%= @summary_contact1.first_name %> <%= @summary_contact1.last_name %></span>, who is <%= @summary_student.first_name %>'s <span class="summaryAnswers"><%= @summary_contact1.relationship %></span>.
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_contact1.first_name %>'s primary phone number is <!--TODO get this from database --><span class="summaryAnswers"><%= @summary_contact1.main_phone %></span><!-- which <span class="summaryAnswers">receives text messages</span>-->. <br/><br/>
            A second phone number for <%= @summary_contact1.first_name %> is <!--TODO get this from database --><span class="summaryAnswers"><%= @summary_contact1.secondary_phone %></span> which <!--<span class="summaryAnswers">receives text messages</span>-->.
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_contact1.first_name %>'s email is <span class="summaryAnswers"><%= @summary_contact1.email %></span>.
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">Review <span class="summaryAnswers"><%= @summary_contact2.first_name %></span> by clicking the tab above.</td>
            <td class="summaryEdit"></div>
          </td>
        </tr>
      </table>
    </div>
      <div class="tab-pane" id="summaryContacts2">
        <table class="summaryTable">
          <tr>
            <td class="summaryText section-break" colspan="2">
              Another adult who can contact you during an emergency is <span class="summaryAnswers"><%= @summary_contact2.first_name %> <%= @summary_contact2.last_name %></span>, who is <%= @summary_student.first_name %>'s <span class="summaryAnswers"><%= @summary_contact2.relationship %></span>.
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2"><%= @summary_contact2.first_name %>'s primary phone number is <!--TODO get this from database --><span class="summaryAnswers"><%= @summary_contact2.main_phone %></span><!-- which <span class="summaryAnswers">receives text messages</span>-->. <br/><br/>
              A second phone number for <%= @summary_contact2.first_name %> is <!--TODO get this from database --><span class="summaryAnswers"><%= @summary_contact2.secondary_phone %></span> <!--which <span class="summaryAnswers">receives text messages</span>-->.<br/><br/>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2"><%= @summary_contact2.first_name %>'s email is <span class="summaryAnswers"><%= @summary_contact2.email %></span>.
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/contact_person_1_contact_info' %></div></td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2">Review <span class="summaryAnswers">Permissions</span> by clicking the tab above.</td>
              <td class="summaryEdit"></div>
            </td>
          </tr>
        </table>
      </div>
    <div class="tab-pane" id="summaryPermissions">
      <table class="summaryTable">
        <tr>
          <td class="summaryText section-break" colspan="2">
            <%= @summary_student.first_name %> may be picked up from school by:

            <% @summary_student.contact_people.each do |c| %>
                <% if c.can_pickup_child %>
                    <span class="summaryAnswers"><%= c.first_name %> <%= c.last_name %></span>,
                <% end %>
            <% end %>
                <!-- TODO: This should be grammatically correct -->
            </td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/permissions' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">
            <%= @summary_student.first_name %>'s grades may be sent to:
            <% @summary_student.contact_people.each do |c| %>
                <% if c.receive_grade_notices %>
                    <span class="summaryAnswers"><%= c.first_name %> <%= c.last_name %></span>,
                <% end %>
            <% end %>
          </td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/permissions' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">
            <%= @summary_student.first_name %>'s conduct notices may be sent to:
            <% @summary_student.contact_people.each do |c| %>
                <% if c.receive_conduct_notices %>
                    <span class="summaryAnswers"><%= c.first_name %> <%= c.last_name %></span>,
                <% end %>
            <% end %>
          </td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/permissions' %></div></td>
        </tr>
      </table>
    </div>
    <div class="tab-pane" id="summaryStudent">
        <table class="summaryTable">
          <tr>
            <td class="summaryText section-break" colspan="2">
              The student you are registering is <span class="summaryAnswers"><%= @summary_student.first_name %> <%= @summary_student.middle_name %> <%= @summary_student.last_name %></span>, who was born on <span class="summaryAnswers"><%= @summary_student.birthday %></span> in <span class="summaryAnswers"><%= @summary_student.birth_city %>, <%= @summary_student.birth_state %> <%= @summary_student.birth_country %></span>.</td>
              <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/student_name' %></div>
              </td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2"> 
              <% if @summary_student.gender == 'male' %>
              <span class="summaryAnswers">  <%= 'He' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'She' %>
                <% end %>

              <% if @summary_student.is_hispanic == false %>
                   <%= 'is not' %>
                   <% elsif @summary_student.is_hispanic == true %>
                     <%= 'is' %>
                     <% end %>  </span> Hispanic or Latino descent. 
              <% if @summary_student.gender == 'male' %>
                <%= 'He' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'She' %>
                <% end %> is
                    <!-- Let's add/find a function to do comma-ing -->
                    <% @summary_student.student_races.each_with_index  do |r, i| %>
                        <span class="summaryAnswers"><%=t('race_' + r.race)%></span>
                        <% if (@summary_student.student_races.size-1) == i %>
                            .
                        <% elsif (@summary_student.student_races.size - 2) == i %>
                            <% if @summary_student.student_races.size > 2 %>
                                ,
                            <% end %>
                            and
                        <% else %>
                            <%= i %>,
                        <% end %>
                    <% end %></td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/student_gender_and_ethnicity' %></div>
            </td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2"><%= @summary_student.first_name %>'s primary language is <%= @summary_student.home_language.titlecase %>. At home,  
              <% if @summary_student.gender == 'male' %>
                <%= 'he' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'she' %>
              <% end %>
              speaks <span class="summaryAnswers">
               <%= @summary_student.guardian_language.titlecase %></span>. 
            </td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/student_language' %></div>
            </td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2">
              <% if @summary_student.prior_school_name == nil %>
                <%= @summary_student.first_name %> has not attended another school. 
                <% else %>

                <%= @summary_student.first_name %> most recently attended <span class="summaryAnswers"><%= @summary_student.prior_school_name %></span> in <span class="summaryAnswers"><%= @summary_student.prior_school_city %>, <%=@summary_student.prior_school_state %></span>.
          
                <% end %>
            </td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/student_previous_school' %></div>
            </td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2"> The last grade   
              <% if @summary_student.gender == 'male' %>
                <%= 'he' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'she' %>
              <% end %>
                completed was <span class="summaryAnswers"> <%= t('grade_' + @summary_student.previous_grade) %></span>.
            </td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/student_previous_school' %></div>
            </td>
          </tr>
          <tr>
            <td class="summaryText" colspan="2">
              <%= @summary_student.first_name %>

              <span class="summaryAnswers">  
                <% if @summary_student.needs_special_services == true %>
                  <%= 'needs' %>
                <% elsif @summary_student.needs_special_services == false || @summary_student.needs_special_services.nil? == true %>
                  <%= 'does not need' %>
                <% end %>
              </span> special services.   
               
                <% if @summary_student.gender == 'male' %>
                  <%= 'He' %>
                <% elsif @summary_student.gender == 'female' %>
                  <%= 'She' %>
                <% end %>
              
              <span class="summaryAnswers">  
                <% if @summary_student.p504 == true %>
                  <%= 'has' %>
                <% elsif @summary_student.p504 == false || @summary_student.p504.nil? == true %>
                  <%= 'does not have' %>
                <% end %>
              </span> Section 504.

             
              <% if @summary_student.gender == 'male' %>
                <%= 'He' %>
              <% elsif @summary_student.gender == 'female' %>
                <%= 'She' %>
              <% end %>
            
              <span class="summaryAnswers">  
                <% if @summary_student.has_learning_difficulties == true %>
                  <%= 'has' %>
                <% elsif @summary_student.has_learning_difficulties == false || @summary_student.has_learning_difficulties.nil? == true %>
                  <%= 'does not have' %>
                <% end %>
              </span> learning difficulties.
          </td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/student_special_services' %></div>
          </td>
        </tr>
          <tr>
            <td class="summaryText" colspan="2">  
                <%= @summary_student.first_name %> lives at
              <span class="summaryAnswers"><%= @summary_student.home_street_address_1 %> <%= @summary_student.home_street_address_2 %> in <%= @summary_student.home_city %>, <%= @summary_student.home_state %></span>.
            </td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/student_address' %></div>
            </td>
          </tr>
        </table>
    </div>
    <div class="tab-pane" id="summaryGuardian1">
      <table class="summaryTable">
          <td class="summaryText section-break" colspan="2">
            Your name is <span class="summaryAnswers"><%= @summary_guardian1.first_name %> <%= @summary_guardian1.last_name %></span>, and you are <%= @summary_student.first_name %>'s <span class="summaryAnswers"><%= @summary_guardian1.relationship %><span class="summaryAnswers">.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_name_and_address' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">You and <%= @summary_student.first_name %> live at <span class="summaryAnswers"><%= @summary_student.home_street_address_1 %> <%= @summary_student.home_street_address_2 %> in <%= @summary_student.home_city %>, <%= @summary_student.home_state %></span>.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_name_and_address' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">Your primary phone number is <!--TODO get this from database --><span class="summaryAnswers">401-111-9999</span> which <span class="summaryAnswers">receives text messages</span>.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div></td>
        </tr>

        <tr>
          <td class="summaryText" colspan="2">
            A second phone number for you is <!--TODO get this from database --><span class="summaryAnswers">401-222-2222</span> which <span class="summaryAnswers">does not receive text messages</span>.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div></td>
          </tr>
          <td class="summaryText" colspan="2">
            Your work phone is <span class="summaryAnswers">401-222-2222</span>.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">Your email is <span class="summaryAnswers"><%= @summary_guardian1.email %></span>.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_phone_and_email' %></div>
          </td>
        </tr>
      </table>
 
    </div>

    <% if @summary_guardian2 %>
    <div class="tab-pane" id="summaryGuardian2">
      <table class="summaryTable">
        <tr>
          <td class="summaryText section-break" colspan="2">
           Another guardian for <%= @summary_student.first_name %> is <span class="summaryAnswers"><%= @summary_guardian2.first_name %> <%= @summary_guardian2.last_name %></span>, who is <%= @summary_student.first_name %>'s <span class="summaryAnswers"><%= @summary_guardian2.relationship %></span>.</td>
           <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_name_and_relationship' %></div>
           </td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_guardian2.first_name %> lives at <span class="summaryAnswers"><%= @summary_guardian2.mailing_street_address_1 %> <%= @summary_student.mailing_street_address_2 %> in <%= @summary_student.mailing_city %>, <%= @summary_student.mailing_state %> <%= @summary_student.mailing_zip_code %></span>.</td>
            <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_guardian2.first_name %>'s primary phone number is <!--TODO get this from database --><span class="summaryAnswers">401-333-1313</span> which <span class="summaryAnswers">does not receive text messages</span>.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">
            A second phone number for <%= @summary_guardian2.first_name %> is <!--TODO get this from database --><span class="summaryAnswers">401-444-9099</span> which <span class="summaryAnswers">does not receive text messages</span>.</td>
          <td class="summaryEdit"><div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2">
            <%= @summary_guardian2.first_name %>'s work phone is <span class="summaryAnswers">N/A</span>.</td>
        <td class="summaryEdit">  
          <div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
        <tr>
          <td class="summaryText" colspan="2"><%= @summary_guardian2.first_name %>'s email is <span class="summaryAnswers"><%= @summary_guardian2.email %></span>.</td>
          <td class="summaryEdit"> <div class="summaryEditBtn pull-right"><%= link_to "edit", '/enrollment/guardian_second_address_and_contact_info' %></div></td>
        </tr>
      </table>
    
    </div>

    <% end %>
    
  </div>
  
  <div class="instructions">By clicking SUBMIT you verify that the information you've provided is true and correct to the best of your knowledge.</div>

    <ul class="pager">
      <li><%= link_to "Previous", previous_wizard_path, class: 'hidden'%></li>
      <li></li>
      <li><%= link_to 'Submit', next_wizard_path, class: 'nav-button pull-right' %></li>
    </ul>
</div>


<%= render 'shared/scenery_summary' %>